<configuration>
    <system.webServer>

<rewrite>
  <rules>
   <rule name="rule 1k">
	<match url="^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9\/]+)/?$"  />
	<action type="Rewrite" url="/index.php?page={R:1}&amp;subpage={R:2}&amp;request={R:3}"  appendQueryString="true" />
</rule>
<rule name="rule 2k">
	<match url="^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?page={R:1}&amp;subpage={R:2}"  appendQueryString="true" />
</rule>
<rule name="rule 3k">
	<match url="^([a-zA-Z0-9]+)/?$"  />
	<action type="Rewrite" url="/index.php?page={R:1}"  appendQueryString="true" />
</rule>
  </rules>
</rewrite>
		
		</system.webServer>
</configuration>